{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <nav class="mb-1 navbar navbar-expand-lg rgba-white-strong text-dark">
            <a class="navbar-brand text-dark font-weight-normal" href="/">Reddit Top Link</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-dark font-weight-normal" href="/">
                            <i class="fas fa-home"></i> Home
                        </a>


                    </li>


                </ul>
            </div>
        </nav>
        <div class="row mt-5" id="subreddit">
            <div class="jumbotron text-center mt-5 rgba-white-strong">

                <!-- Title -->
                <h2 class="card-title h2">Success !!! Welcome to Reddit Top link</h2>
                <!-- Subtitle -->
                <p class="blue-text my-4 font-weight-bold">Hi, your account is created successfully, to verify please login.  </p>

                <!-- Grid row -->

                <!-- Grid row -->

                <hr class="my-4">

                <div class="pt-2">
                    <a type="button" class="btn btn-blue waves-effect" style="background-color: #ff4500 !important;" href="/login">Login </a>

                </div>

            </div>


        </div>
    </div>

{% endblock content %}